* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#first-paragraph {
    color: red;
    background-color: mediumslateblue;
    font-style: italic;
    text-align: center;
}

#second-paragraph{
    color: #00ff00;
    background-color: blue;
    font-size: 2em;
    text-decoration: underline;
}

#bold-paragraph{
    font-weight: bold;
    background-color: yellowgreen;
    font-family: sans-serif;
}
#span1{
    color:crimson;
    font-weight: bold;
    font-size: 48px;
}

#span2{
    font-style: italic;
}